#puzzle {
  margin: auto;
  width: 430px;
  height: 500px;
  font-size: 0;
}

.tile {
  background: url("background.jpg");
  text-align: center;
  font-size: 32px;
  color: white;
  vertical-align: middle;
  line-height: 90px;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: inline-block;
}

.tile#t1 { background-position: 0px 0px;}
.tile#t2 { background-position: -100px 0px; }
.tile#t3 { background-position: -200px 0px; }
.tile#t4 { background-position: -300px 0px; }
.tile#t5 { background-position: 0px -100px; }
.tile#t6 { background-position: -100px -100px; }
.tile#t7 { background-position: -200px -100px; }
.tile#t8 { background-position: -300px -100px; }
.tile#t9 { background-position: 0px -200px; }
.tile#t10 { background-position: -100px -200px; }
.tile#t11 { background-position: -200px -200px; }
.tile#t12 { background-position: -300px -200px; }
.tile#t13 { background-position: 0px -300px; }
.tile#t14 { background-position: -100px -300px; }
.tile#t15 { background-position: -200px -300px; }
.tile#t16 { background: none; }

.tile#t1::before { content: "1"; }
.tile#t2::before { content: "2"; }
.tile#t3::before { content: "3"; }
.tile#t4::before { content: "4"; }
.tile#t5::before { content: "5"; }
.tile#t6::before { content: "6"; }
.tile#t7::before { content: "7"; }
.tile#t8::before { content: "8"; }
.tile#t9::before { content: "9"; }
.tile#t10::before { content: "10"; }
.tile#t11::before { content: "11"; }
.tile#t12::before { content: "12"; }
.tile#t13::before { content: "13"; }
.tile#t14::before { content: "14"; }
.tile#t15::before { content: "15"; }

.movable:hover {
  border: 2px solid red;
  color: red;
}

#controls {
  width: 200px;
  text-align: center;
  margin: auto;
  border: 1px solid black;
}
